# Copy to .env and adjust

SCRIPT_PREAMBLE="\
source activate /home/djarecka/.conda/envs/simple_babs_test
module load apptainer/1.1.9
"
SLURM_RESOURCES="\
#SBATCH --partition=mit_normal
#SBATCH --nodes=1
#SBATCH --ntasks=1
#SBATCH --time=00:30:00
#SBATCH --mem=2G
#SBATCH --propagate=NONE
"
BABS_WORKDIR="/orcd/home/002/djarecka/simple2_test/babs_demo/tmp/"
BABS_OUTPUT_DIR="/orcd/home/002/djarecka/simple2_test/babs_demo/tmp/output"